<script lang="ts">
	import "../app.postcss"

	import { setContext } from "svelte"
	import { appContextKey } from "$lib/infra/svelte/context"
	import type { AppContext } from "$lib/infra/svelte/context"
	import { createAppInstances } from "$lib/bootstrap"

	const appInstances = createAppInstances()

	setContext<AppContext>(appContextKey, {
		getAppInstances: () => appInstances,
	})
</script>

<slot />
