<script lang="ts">
	import App from "$lib/components/App.svelte"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"

	const { loadingManager, sampleDataServices } = getAppInstancesFromContext()

	loadingManager.do(`samples`, sampleDataServices.loadAllSampleData())
</script>

<App />
