<script lang="ts">
	import type { AutocompleterSuggestion } from "$lib/domain/services/geocode_services"
	import type { AutocompleteItem } from "autocompleter"
	import autocomplete from "autocompleter"

	export let fetchAutocompleterSuggestions: (text: string) => Promise<AutocompleterSuggestion[]>
	export let value: string | null = null

	let loading = false

	function autocompleteAction(node: HTMLInputElement) {
		const autocompleter = autocomplete({
			input: node,
			fetch: async function (text, update) {
				loading = true
				const suggestions = await fetchAutocompleterSuggestions(text)
				const items = suggestions.map((item) => ({ label: item.text, value: item }))
				update(items)
				loading = false
			},
			onSelect: function (item: AutocompleteItem): void {
				if (item.label !== undefined) {
					node.value = item.label
				}
				node.dispatchEvent(new CustomEvent("select-item", { detail: item.value }))
			},
		})

		return {
			destroy() {
				autocompleter.destroy()
			},
		}
	}
</script>

<input
	class="input input-sm input-bordered"
	placeholder="Postal address"
	type="text"
	{value}
	on:select-item
	use:autocompleteAction
/>

{#if loading}
	<span class="label-text-alt">Loading...</span>
{/if}
