<script lang="ts">
	import humanFormat from "human-format"
	import { createEventDispatcher } from "svelte"
	import type { CircleCollectionBoundary } from "$lib/domain/entities/collections"
	import RangeInput from "../widgets/RangeInput.svelte"

	export let circle: CircleCollectionBoundary
	export let minRadius = 1
	export let maxRadius = 10_000

	let value = circle.radius

	const dispatch = createEventDispatcher<{ "radius-change": number }>()

	function handleChange(event: Event): void {
		const radius = (event.target as HTMLInputElement).valueAsNumber
		if (radius < minRadius || radius > maxRadius) {
			return
		}
		dispatch("radius-change", radius)
	}
</script>

<div>
	Center:
	{#if circle.center.type === "place"}
		{circle.center.placeId}
	{:else if circle.center.type === "position"}
		{circle.center.position}
	{/if}
</div>

<RangeInput label="Radius" min={minRadius} max={maxRadius} bind:value on:change={handleChange}>
	<div class="whitespace-nowrap">
		{humanFormat(value, { unit: "m" })}
	</div>
</RangeInput>
