<script lang="ts">
	import type CollectionEntity from "$lib/domain/entities/collections"
	import type PlaceEntity from "$lib/domain/entities/place"
	import CollectionPlace from "./CollectionPlace.svelte"

	export let collection: CollectionEntity
	export let disableEyeIcon = false
	export let places: PlaceEntity[]
</script>

<ul>
	{#each places as place}
		<li class="my-1">
			<CollectionPlace
				{collection}
				{disableEyeIcon}
				{place}
				on:change-place-drag-mode
				on:goto-place
			/>
		</li>
	{/each}
</ul>
