<script lang="ts">
	import clsx from "clsx"
	import { createEventDispatcher } from "svelte"
	import type CollectionEntity from "$lib/domain/entities/collections"
	import type PlaceEntity from "$lib/domain/entities/place"
	import DistanceMatrixVO from "$lib/domain/value_objects/distance_matrix"
	import { replace } from "$lib/immutable"
	import CollectionParams from "./CollectionParams.svelte"
	import DistanceMatrix from "./DistanceMatrix.svelte"
	import EditableText from "./EditableText.svelte"
	import CollectionPlaces from "./CollectionPlaces.svelte"
	import Dropdown from "../widgets/Dropdown.svelte"
	import MenuButton from "../widgets/MenuButton.svelte"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import EyeToggleButton from "./EyeToggleButton.svelte"
	import ColorDropdown from "../widgets/ColorDropdown.svelte"

	export let collection: CollectionEntity
	export let disableEyeIcon = false

	const { collectionServices, loadingManager, placeServices } = getAppInstancesFromContext()

	$: isLoading = loadingManager.isLoading(`collection:${collection.id}`)

	let places: PlaceEntity[]
	$: placesStore = placeServices.findPlacesByIdsAsStore(collection.placeIds)
	$: $placesStore.match(
		(ok) => {
			places = ok
		},
		(err) => {
			// TODO
			console.error(err)
		},
	)

	function handleCollectionNameChange(event: Event): void {
		const collection2 = replace(collection, { name: (event as CustomEvent<string>).detail })
		collectionServices.saveCollection(collection2)
	}

	function buildDistanceMatrix(places: PlaceEntity[]): DistanceMatrixVO | null {
		return DistanceMatrixVO.fromPlaces(places).match(
			(ok) => ok,
			(err) => {
				// TODO use https://github.com/apvarun/toastify-js
				console.error(err)
				return null
			},
		)
	}

	let showDistanceMatrix = false

	$: distanceMatrix = places.length > 0 && showDistanceMatrix ? buildDistanceMatrix(places) : null

	function handleDistanceMatrixCheckboxChange(event: Event): void {
		showDistanceMatrix = (event.target as HTMLInputElement).checked
	}

	const dispatch = createEventDispatcher<{ "goto-collection": CollectionEntity }>()

	function handleEyeButtonClick() {
		const collection2 = replace(collection, { visible: !collection.visible })
		collectionServices.saveCollection(collection2)
	}

	// TODO move to service
	$: isFocused = false
	// $mapViewStrategyStore.type === "fit-collection" &&
	// $mapViewStrategyStore.collectionId === collection.id

	function handleColorChange(event: CustomEvent): void {
		const color = event.detail
		const collection2 = replace(collection, { color })
		collectionServices.saveCollection(collection2)
	}
</script>

<div
	class={clsx(
		"card shadow bg-base-100 hover:shadow-lg",
		$isLoading && "animate-pulse",
		isFocused && "border-2",
	)}
>
	<div class="card-body">
		<div class="card-title flex items-start justify-between">
			<div class="flex space-x-2">
				{#if !disableEyeIcon}
					<EyeToggleButton enabled={collection.visible} on:click={handleEyeButtonClick} />
				{/if}
				{#if collection.color}
					<ColorDropdown color={collection.color} on:change={handleColorChange} />
				{/if}
				{#if collection.readOnly}
					<span class="truncate">{collection.name}</span>
				{:else}
					<EditableText text={collection.name} on:change={handleCollectionNameChange} />
				{/if}
			</div>
			<div class="flex space-x-2 ml-2">
				<button
					class="btn btn-outline btn-xs"
					on:click={() => {
						dispatch("goto-collection", collection)
					}}
				>
					go to
				</button>
				<Dropdown let:toggle>
					<MenuButton slot="trigger" on:click={toggle} />
					<div slot="content" tabindex="0">
						<CollectionParams {collection} />
						<!-- <div class="divider" />
						<ul class="menu">
							<li>
								<span>
									<label class="label cursor-pointer w-full">
										distance matrix
										<input
											class="toggle mx-1"
											on:change={handleDistanceMatrixCheckboxChange}
											checked={showDistanceMatrix}
											type="checkbox"
										/>
									</label>
								</span>
							</li>
						</ul> -->
					</div>
				</Dropdown>
			</div>
		</div>

		{#if places.length > 0}
			<CollectionPlaces
				{collection}
				{disableEyeIcon}
				{places}
				on:change-place-drag-mode
				on:goto-place
			/>
		{:else}
			<span class="text-gray-400">no places</span>
		{/if}

		{#if showDistanceMatrix && distanceMatrix !== null}
			<DistanceMatrix {distanceMatrix} />
		{/if}
	</div>
</div>
