<script lang="ts" context="module">
	export interface ChangePlaceDragModeEventDetail {
		draggable: boolean
		place: PlaceEntity
	}
</script>

<script lang="ts">
	import { createEventDispatcher } from "svelte"
	import type CollectionEntity from "$lib/domain/entities/collections"
	import type PlaceEntity from "$lib/domain/entities/place"
	import AddressAutocompleter from "./AddressAutocompleter.svelte"
	import type { AutocompleterSuggestion } from "$lib/domain/services/geocode_services"
	import EditableText from "./EditableText.svelte"
	import { replace } from "$lib/immutable"
	import type { CollectionId } from "$lib/domain/entities/collections"
	import DistanceMatrix from "./DistanceMatrix.svelte"
	import DistanceMatrixVO from "$lib/domain/value_objects/distance_matrix"
	import Dropdown from "../widgets/Dropdown.svelte"
	import MenuButton from "../widgets/MenuButton.svelte"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import EyeToggleButton from "./EyeToggleButton.svelte"

	export let collection: CollectionEntity
	export let disableEyeIcon = false
	export let place: PlaceEntity

	const { collectionServices, geocodeServices, placeServices } = getAppInstancesFromContext()

	const dispatch = createEventDispatcher<{
		"change-place-drag-mode": ChangePlaceDragModeEventDetail
		"goto-place": PlaceEntity
	}>()

	function fetchAutocompleterSuggestions(text: string): AutocompleterSuggestion[] {
		// TODO fix type error
		return geocodeServices.autocomplete(text).match(
			(ok) => ok,
			(err) => {
				// TODO
				console.error(err)
				return []
			},
		)
	}

	function handleAddressAutocompleterSelectItem(event: Event): void {
		const suggestion: AutocompleterSuggestion = (event as CustomEvent).detail
		const place2 = place.updateFromAutocompleterSuggestion(suggestion)
		placeServices.savePlace(place2)
	}

	function handleDragModeCheckboxChange(event: Event): void {
		dispatch("change-place-drag-mode", {
			draggable: (event.target as HTMLInputElement).checked,
			place,
		})
	}

	function handlePlaceNameChange(event: Event): void {
		const place2 = replace(place, { name: (event as CustomEvent<string>).detail })
		placeServices.savePlace(place2)
	}

	async function handleFindPlacesButtonClick(): Promise<void> {
		if (place.position === null) {
			return
		}
		const radius = 500 // TODO avoid constant here
		collectionServices.createCollectionWithPlacesAroundPlace(place, {
			radius,
			placeTypeIds: ["supermarket"],
		})
	}

	let distanceMatrixCollectionId: CollectionId | null = null
	// TODO listOtherCollections is not reactive, use listOtherCollectionsAsStore
	$: otherCollections = [...collectionServices.listOtherCollections(collection)]
	let distanceMatrix: DistanceMatrixVO | null = null
	// TODO move to service
	$: if (distanceMatrixCollectionId !== null) {
		collectionServices
			.findCollectionById(distanceMatrixCollectionId)
			.andThen((collection) => placeServices.findPlacesByIds(collection.placeIds))
			.andThen((places) => DistanceMatrixVO.fromPlaceAgainstPlaces(place, places))
			.match(
				(ok) => {
					distanceMatrix = ok
				},
				(err) => {
					// TODO use https://github.com/apvarun/toastify-js
					console.error(err)
				},
			)
	}

	function handleEyeButtonClick() {
		const place2 = replace(place, { visible: !place.visible })
		placeServices.savePlace(place2)
	}
</script>

<div class="flex items-center space-x-2">
	{#if !disableEyeIcon}
		<EyeToggleButton
			enabled={collection.visible && place.visible}
			on:click={handleEyeButtonClick}
		/>
	{/if}

	<div class="flex-grow">
		<EditableText text={place.name} on:change={handlePlaceNameChange} />
	</div>

	{#if place.position === null}
		(no pos)
	{:else}
		<button
			class="btn btn-outline btn-xs"
			on:click={() => {
				dispatch("goto-place", place)
			}}
		>
			go to
		</button>
	{/if}

	<Dropdown let:toggle>
		<MenuButton slot="trigger" on:click={toggle} />
		<ul slot="content" tabindex="0" class="menu">
			<!-- <li>
				<span>
					<label class="label cursor-pointer w-full">
						draggable
						<input
							class="toggle mx-1"
							on:change={handleDragModeCheckboxChange}
							checked={place.draggable}
							title="edit mode"
							type="checkbox"
						/>
					</label>
				</span>
			</li> -->
			<li>
				<AddressAutocompleter
					{fetchAutocompleterSuggestions}
					value={place.address}
					on:select-item={handleAddressAutocompleterSelectItem}
				/>
			</li>
			<li>
				<span>
					<button class="btn btn-ghost btn-sm" on:click={handleFindPlacesButtonClick}>
						Find supermarkets around
					</button>
				</span>
			</li>
			<!-- <li>
				<span>
					<label class="label cursor-pointer w-full">
						distance matrix with collection
						<select bind:value={distanceMatrixCollectionId}>
							<option value={null}>-</option>
							{#each otherCollections as collection}
								<option value={collection.id}>{collection.name}</option>
							{/each}
						</select>
					</label>
				</span>
			</li> -->
		</ul>
	</Dropdown>

	{#if distanceMatrix !== null}
		<DistanceMatrix {distanceMatrix} />
	{/if}
</div>
