<script lang="ts">
	import { replace } from "$lib/immutable"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import Collection from "./Collection.svelte"
	import NewCollectionDropdown from "./NewCollectionDropdown.svelte"
	import type { ChangePlaceDragModeEventDetail } from "./CollectionPlace.svelte"

	const { collectionServices, placeServices } = getAppInstancesFromContext()

	function handleChangePlaceDragMode(event: CustomEvent<ChangePlaceDragModeEventDetail>) {
		const { place, draggable } = event.detail
		const place2 = replace(place, { draggable })
		placeServices.savePlace(place2)
	}

	const collections = collectionServices.listCollectionsAsStore()

	// TODO don't create allPlacesCollection here, in interaction layer
	// $: allPlacesCollection = placeServices.createCollectionForAllPlacesAsStore()
	// $: collectionServices.saveCollection($allPlacesCollection)
</script>

<!-- TODO -->
<!-- <div class="flex justify-end">
	<NewCollectionDropdown />
</div> -->

<div class="space-y-4">
	{#each $collections as collection}
		<Collection
			{collection}
			on:change-place-drag-mode={handleChangePlaceDragMode}
			on:goto-collection
			on:goto-place
		/>
	{/each}
</div>
