<script lang="ts">
	import type PlaceEntity from "$lib/domain/entities/place"
	import type DistanceMatrixVO from "$lib/domain/value_objects/distance_matrix"
	import { reorderPlaceIds } from "$lib/domain/value_objects/distance_matrix"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import type { PlaceRepoStore } from "$lib/infra/svelte/stores/types"

	export let distanceMatrix: DistanceMatrixVO

	const placeRepoStore: PlaceRepoStore = getAppInstancesFromContext().resolve("PlaceRepoStore")

	// TODO use placeServices
	$: places1 = $placeRepoStore.findPlacesByIds(distanceMatrix.placeIds1).unwrapOr([])
	// TODO use placeServices
	$: places2 = $placeRepoStore.findPlacesByIds(distanceMatrix.placeIds2).unwrapOr([])

	$: [closestPlaces, _] = distanceMatrix.getClosestPlaces()

	function formatDistance(place1: PlaceEntity, place2: PlaceEntity): string {
		const d = distanceMatrix.getDistanceBetweenPlaces(place1.id, place2.id)
		if (d === null) {
			return ""
		}
		let formatted = d.toLocaleString()
		const [placeId1, placeId2] = reorderPlaceIds(place1.id, place2.id)
		if (placeId1 === closestPlaces[0] && placeId2 === closestPlaces[1]) {
			formatted += " (closest)"
		}
		return formatted
	}
</script>

<table class="table table-compact table-zebra">
	<thead>
		<tr>
			<th />
			{#each places2 as place2}
				<th>
					{place2.name}
				</th>
			{/each}
		</tr>
	</thead>
	<tbody>
		{#each places1 as place1}
			<tr>
				<th>{place1.name}</th>
				{#each places2 as place2}
					<td>
						{formatDistance(place1, place2)}
					</td>
				{/each}
			</tr>
		{/each}
	</tbody>
</table>
