<script lang="ts">
	import { createEventDispatcher } from "svelte"

	export let text: string
	export let isEditMode = false

	$: value = text

	const dispatch = createEventDispatcher<{ change: string }>()

	function cancel(): void {
		value = text
		isEditMode = false
	}

	function edit(): void {
		isEditMode = true
	}

	function save(): void {
		dispatch("change", value)
		text = value
		isEditMode = false
	}

	function handleInputKeyDown(event: KeyboardEvent): void {
		if (event.key === "Enter") {
			save()
		} else if (event.key === "Escape") {
			cancel()
		}
	}
</script>

<div class="flex">
	{#if isEditMode}
		<input
			autofocus
			class="input input-bordered input-sm"
			type="text"
			bind:value
			on:keydown={handleInputKeyDown}
		/>
		<button class="btn btn-ghost btn-xs ml-1" on:click={save}>save</button>
		<button class="btn btn-ghost btn-xs ml-1" on:click={cancel}>cancel</button>
	{:else}
		<span class="truncate">{text}</span>
		<button class="btn btn-ghost btn-xs ml-1" on:click={edit}>edit</button>
	{/if}
</div>
