<script lang="ts">
	import Eye from "heroicons/outline/eye.svg"
	import EyeOff from "heroicons/outline/eye-off.svg"
	import ToggleIconButton from "../widgets/ToggleIconButton.svelte"

	export let enabled = false
</script>

<ToggleIconButton {enabled} enabledIcon={Eye} disabledIcon={EyeOff} on:click />
