<script lang="ts">
	export let clickToAddMode = false
</script>

<label class="cursor-pointer label">
	<span class="label-text">click to add marker</span>
	<input type="checkbox" class="toggle" bind:checked={clickToAddMode} />
</label>
