<script lang="ts">
	import Dropdown from "../widgets/Dropdown.svelte"
</script>

<Dropdown>
	<button slot="trigger" class="btn btn-primary btn-xs" let:toggle on:click={toggle}>
		Create collection
	</button>
	<ul slot="content" tabindex="0" class="menu">
		<li>
			<span>Manual</span>
		</li>
	</ul>
</Dropdown>
