<script lang="ts">
	import { Map as MaplibreMap } from "svelte-maplibre-gl"
	import type Position from "$lib/domain/value_objects/position"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import Collection from "./Collection.svelte"
	import Popups from "./Popups.svelte"

	export let clickToAddMode = false

	const { collectionServices, mapboxAccessToken, mapViewStrategyStore, placeServices } =
		getAppInstancesFromContext()

	let map: MaplibreMap | null = null

	export function resize() {
		if (map !== null) {
			map.resize()
		}
	}

	$: if (map !== null && $mapViewStrategyStore !== null) {
		$mapViewStrategyStore.apply(map)
	}

	$: collections = collectionServices.listCollectionsAsStore()

	// function update(params: ActionParams) {
	// 	updateClickOnMap(params.clickToAddMode)
	// 	updatePlaces(params.places)
	// 	updateCollections(params.collections)
	// }

	// let previousClickToAddMode = clickToAddMode

	// function updateClickOnMap(clickToAddMode: boolean) {
	// 	if (previousClickToAddMode !== clickToAddMode) {
	// 		if (clickToAddMode) {
	// 			map.on("click", handleMapClick)
	// 		} else {
	// 			map.off("click", handleMapClick)
	// 		}
	// 		previousClickToAddMode = clickToAddMode
	// 	}
	// }

	// const markers: Map<PlaceId, unknown> = new Map()

	// function updatePlace(place: PlaceEntity, lngLat) {
	// 	const position = lngLatToPosition(lngLat)
	// 	const place2 = replace(place, { position })
	// 	placeServices.savePlace(place2)
	// 	placeServices.updateCollectionsAnchoredToPlace(place2.id)
	// }

	// function updatePlaces(places: PlaceEntity[]): void {
	// 	// const remainingMarkers = new Set(markers.values())

	// 	for (const place of places) {
	// 		function handleDragEnd(event) {
	// 			const lngLat = event.target.getLngLat()
	// 			updatePlace(place, lngLat)
	// 		}

	// 		const draggable = place.draggable
	// 		let marker = markers.get(place.id)
	// 		if (marker && marker.isDraggable() !== draggable) {
	// 			// Recreating the marker is mandatory to change its color.
	// 			marker.remove()
	// 			marker = null
	// 		}
	// 		if (!marker) {
	// 			const color = draggable ? "red" : undefined
	// 			marker = new maplibregl.Marker({ color })
	// 			if (draggable) {
	// 				marker.on("dragend", handleDragEnd)
	// 			} else {
	// 				marker.off("dragend", handleDragEnd)
	// 			}
	// 			markers.set(place.id, marker)
	// 		}
	// 		// remainingMarkers.delete(marker)

	// 		const markerHtml = place.name
	// 		marker
	// 			.setDraggable(draggable)
	// 			.setLngLat(place.position)
	// 			.setPopup(new maplibregl.Popup({}).setHTML(markerHtml))
	// 			.addTo(map)
	// 	}

	// 	// TODO
	// 	// for (const marker of remainingMarkers) {
	// 	// 	marker.remove()
	// 	// }
	// }

	// function updateCollections(collections: CollectionEntity[]): void {
	// 	for (const collection of collections) {
	// 		const { search } = collection
	// 		if (search === null) {
	// 			continue
	// 		}
	// 		const { boundary } = search
	// 		if (boundary.type === "circle") {
	// 			const sourceId = collection.id
	// 			updateCircle(sourceId, boundary)
	// 		}
	// 	}
	// }

	function handleMapClick(event: Event): void {
		if (!clickToAddMode) {
			return
		}
		const position: Position = (event as CustomEvent).detail.lngLat
		const place = placeServices.createPlace({ position })
		placeServices.savePlace(place)
	}
</script>

<MaplibreMap
	maplibregl={window.maplibregl}
	options={{ accessToken: mapboxAccessToken }}
	zoom={0.1}
	bind:map
	on:map-click={handleMapClick}
>
	{#each $collections as collection (collection.id)}
		<Collection {collection} />
	{/each}
	<Popups />
</MaplibreMap>
