<script lang="ts">
	import Color from "color"
	import type { Feature, FeatureCollection, GeoJsonProperties, Point } from "geojson"
	import { GeoJSONSource, Layer } from "svelte-maplibre-gl"
	import type { Map as MaplibreMap } from "svelte-maplibre-gl"
	import type CollectionEntity from "$lib/domain/entities/collections"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"

	export let collection: CollectionEntity
	export let hoverColor: string | null = null
	export let hoverColorDarkenRatio = 0.5
	export let id: string

	$: if (collection.color !== null && hoverColor === null) {
		hoverColor = Color(collection.color).darken(hoverColorDarkenRatio).hex()
	}

	const { geoJsonMappers, geoJsonServices, popupControllerStore } = getAppInstancesFromContext()

	$: layout = {
		visibility: collection.visible ? "visible" : "none",
	}

	$: paint = {
		"circle-color": [
			"case",
			["boolean", ["feature-state", "hover"], false],
			hoverColor,
			collection.color,
		],
		"circle-radius": ["interpolate", ["linear"], ["zoom"], 10, 1, 17, 15],
	}

	let placesFeatureCollection: FeatureCollection<Point, GeoJsonProperties>
	$: placesFeatureCollectionStore = geoJsonServices.getPlacesAsStore(collection)
	$: $placesFeatureCollectionStore.match(
		(ok) => {
			placesFeatureCollection = ok
		},
		(err) => {
			// TODO
			console.error(err)
		},
	)

	$: if (!collection.visible) {
		popupControllerStore.do(function () {
			this.removeAllPopups()
		})
	}

	function handleLayerClick(event: Event): void {
		const features = (event as CustomEvent).detail.features as Feature<Point>[]
		for (const feature of features) {
			const { id, name } = feature.properties as Record<string, string>
			const position = geoJsonMappers.lngLatArrayToPosition(feature.geometry.coordinates)
			popupControllerStore.do(function () {
				this.addPopup({ id, position, text: name })
			})
		}
	}

	let hoveredFeatureIds: number[] = []

	function setHover(map: MaplibreMap, hover: boolean): void {
		for (const hoveredFeatureId of hoveredFeatureIds) {
			map.setFeatureState({ source: id, id: hoveredFeatureId }, { hover })
		}
	}

	function handleMouseMove(event: CustomEvent): void {
		const map = event.detail.target
		map.getCanvas().style.cursor = "pointer"
		const features = event.detail.features as Feature<Point>[]
		if (features.length === 0) {
			return
		}
		setHover(map, false)
		hoveredFeatureIds = features.map((f) => f.id as number)
		setHover(map, true)
	}

	function handleMouseLeave(event: CustomEvent): void {
		const map = event.detail.target
		map.getCanvas().style.cursor = ""
		setHover(map, false)
		hoveredFeatureIds = []
	}
</script>

<GeoJSONSource {id} spec={{ data: placesFeatureCollection, generateId: true }}>
	<Layer
		{id}
		spec={{ layout, paint, type: "circle" }}
		on:click={handleLayerClick}
		on:mousemove={handleMouseMove}
		on:mouseleave={handleMouseLeave}
	/>
</GeoJSONSource>
