<script lang="ts">
	import { GeoJSONSource, Layer } from "svelte-maplibre-gl"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import type CollectionEntity from "$lib/domain/entities/collections"
	import type { CollectionSearch } from "$lib/domain/entities/collections"

	export let collection: CollectionEntity
	export let id: string

	$: layout = {
		visibility: collection.visible ? "visible" : "none",
	}

	$: paint = {
		"line-color": collection.color,
		"line-width": ["interpolate", ["linear"], ["zoom"], 10, 1, 17, 5],
	}

	// TODO replace with polymorphism
	if (collection.search === null || collection.search.boundary.type !== "circle") {
		throw new Error(
			"CircleOnMap can only be called with a collection with a circle search boundary",
		)
	}

	const { geoJsonServices } = getAppInstancesFromContext()

	// TODO remove "as" when proper polymorphism will be done
	$: center = (collection.search as CollectionSearch).boundary.center
	$: radius = (collection.search as CollectionSearch).boundary.radius

	$: collectionFeature = geoJsonServices.getCircleCollectionBoundary(center, radius).unwrapOr(null)
</script>

{#if collectionFeature !== null}
	<GeoJSONSource {id} spec={{ data: collectionFeature }}>
		<Layer {id} spec={{ layout, paint, type: "line" }} />
	</GeoJSONSource>
{/if}
