<script lang="ts">
	import type CollectionEntity from "$lib/domain/entities/collections"
	import CollectionPlaces from "./CollectionPlaces.svelte"
	import CollectionCircle from "./CollectionCircle.svelte"

	export let collection: CollectionEntity

	$: placesId = `${collection.id}:places`
	$: collectionId = `${collection.id}:circle`
</script>

{#if collection.search?.boundary.type === "circle"}
	<CollectionCircle {collection} id={collectionId} />
{/if}

<CollectionPlaces {collection} id={placesId} />
