<script lang="ts">
	import { Popup } from "svelte-maplibre-gl"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import type { PopupId } from "$lib/infra/maplibre/popup_controller"

	const { popupControllerStore } = getAppInstancesFromContext()

	$: popups = $popupControllerStore.listPopups()

	function removePopup(id: PopupId): void {
		popupControllerStore.do(function () {
			this.removePopup(id)
		})
	}
</script>

{#each popups as { id, position, text } (id)}
	<Popup coordinates={position} on:close={removePopup(id)}>
		{text}
	</Popup>
{/each}
