<script lang="ts">
	import { createEventDispatcher } from "svelte"
	import randomColor from "randomcolor"
	import ColorCircle from "./ColorCircle.svelte"
	import Dropdown from "./Dropdown.svelte"

	export let color: string

	const dispatch = createEventDispatcher<{ change: string }>()

	function generateRandomColor(): void {
		color = randomColor()
		dispatch("change", color)
	}

	function handleManualColorInput(event: Event): void {
		color = event.target.value
		dispatch("change", color)
	}
</script>

<Dropdown>
	<ColorCircle {color} slot="trigger" let:toggle on:click={toggle} />
	<div slot="content">
		<div>Select color</div>
		<ul>
			<li>
				<label>
					manual
					<input type="color" bind:value={color} on:input={handleManualColorInput} />
				</label>
			</li>
			<li>
				<button class="btn btn-xs" on:click={generateRandomColor}>generate</button>
			</li>
		</ul>
	</div>
</Dropdown>
