<script lang="ts">
	import type { Placement } from "@popperjs/core"
	import { createPopperActions } from "svelte-popperjs"
	import { portal } from "svelte-portal/src/Portal.svelte" // TODO Waiting for https://github.com/romkor/svelte-portal/pull/94

	export let open = false
	export let placement: Placement = "bottom-start"

	const [popperRef, popperContent] = createPopperActions()

	$: popperOptions = {
		placement,
		modifiers: [{ name: "offset", options: { offset: [0, 8] } }],
	}

	let content: HTMLElement
	let trigger: HTMLElement

	function close() {
		open = false
	}

	function toggle() {
		open = !open
	}

	function clickToClose(_: Element) {
		function handleClick(event: Event): void {
			const path = event.composedPath()
			if (!path.includes(trigger) && !path.includes(content)) {
				close()
			}
		}

		window.addEventListener("click", handleClick)

		return {
			destroy() {
				window.removeEventListener("click", handleClick)
			},
		}
	}

	function keydown(_: Element, cb: (event: KeyboardEvent) => void) {
		window.addEventListener("keydown", cb)

		return {
			destroy() {
				window.removeEventListener("keydown", cb)
			},
		}
	}

	function handleKeydown(event: KeyboardEvent): void {
		if (event.key === "Escape") {
			close()
			return
		}
	}
</script>

<div bind:this={trigger} use:popperRef>
	<slot name="trigger" {close} {toggle} />
</div>

{#if open}
	<div
		class="dropdown-content p-2 shadow bg-base-100 rounded-box hover:shadow-lg"
		bind:this={content}
		use:clickToClose
		use:keydown={handleKeydown}
		use:popperContent={popperOptions}
		use:portal={"body"}
	>
		<slot name="content" {close} {toggle} />
	</div>
{/if}

<style>
	:global(body) {
		/* Avoid dropdowns that are at the bottom of the page to grow the body size and make a scrollbar appear. */
		@apply overflow-y-hidden;
	}

	.dropdown-content {
		z-index: var(--dropdown-z-index, 99);
	}
</style>
