<script lang="ts">
	export let label: string
	export let min: number | null = null
	export let max: number | null = null
	export let value: number
</script>

<div class="space-y-2">
	<div>{label}</div>
	<input type="range" class="range" {min} {max} on:change bind:value />
	<slot {value} />
</div>
