<script lang="ts">
	import IconButton from "./IconButton.svelte"

	export let enabled = false
	export let enabledIcon: string
	export let disabledIcon: string
</script>

<IconButton on:click>
	{#if enabled}
		<svelte:component this={enabledIcon} />
	{:else}
		<svelte:component this={disabledIcon} />
	{/if}
</IconButton>
