<script lang="ts">
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import AppLayout from "./layout/AppLayout.svelte"
	import AppMap from "./map/AppMap.svelte"
	import Collections from "./sidebar/Collections.svelte"
	import MapSettings from "./sidebar/MapSettings.svelte"

	const { mapViewServices } = getAppInstancesFromContext()

	let clickToAddMode = false

	// TODO Move handler to <Collections>
	function handleGotoCollection(event: Event) {
		const collection = (event as CustomEvent).detail
		mapViewServices.gotoCollection(collection.id)
	}

	// TODO Move handler to <Collections>
	function handleGotoPlace(event: Event) {
		const place = (event as CustomEvent).detail
		mapViewServices.gotoPlace(place.id)
	}

	let appMap: AppMap
</script>

<AppLayout on:resize={appMap.resize}>
	<div slot="sidebar" class="p-2 bg-base-200 min-h-full">
		<!-- <MapSettings bind:clickToAddMode /> -->
		<Collections on:goto-collection={handleGotoCollection} on:goto-place={handleGotoPlace} />
	</div>
	<AppMap slot="map" bind:this={appMap} {clickToAddMode} />
</AppLayout>
