<script lang="ts">
	import { createEventDispatcher } from "svelte"
	import { getAppInstancesFromContext } from "$lib/infra/svelte/context"
	import NProgress from "./NProgress.svelte"
	import SidebarDrawerLayout from "./SidebarDrawerLayout.svelte"
	import TwoColumnSplitLayout from "./TwoColumnSplitLayout.svelte"

	const dispatch = createEventDispatcher<{ resize: [number, number] }>()

	let innerWidth: number | undefined

	const mdBreakpoint = 768

	function isDesktopLayout(width: number) {
		return width >= mdBreakpoint
	}

	function dispatchResize(event: Event): void {
		const sizes = (event as CustomEvent).detail
		dispatch("resize", sizes)
	}

	const { loadingManager } = getAppInstancesFromContext()

	const isLoading = loadingManager.isLoading()
</script>

<svelte:window bind:innerWidth />

{#if innerWidth !== undefined}
	<div class="absolute inset-0">
		<NProgress isLoading={$isLoading} />
		{#if isDesktopLayout(innerWidth)}
			<TwoColumnSplitLayout
				deferRight
				sizes={[33, 66]}
				on:drag={dispatchResize}
				on:drag-end={dispatchResize}
				on:drag-start={dispatchResize}
			>
				<slot name="sidebar" slot="left" />
				<slot name="map" slot="right" />
			</TwoColumnSplitLayout>
		{:else}
			<SidebarDrawerLayout>
				<slot name="sidebar" slot="sidebar" />
				<slot name="map" slot="map" />
			</SidebarDrawerLayout>
		{/if}
	</div>
{/if}
