<script lang="ts">
	import NProgress from "nprogress"
	import "nprogress/nprogress.css"

	export let isLoading = false

	interface ActionParams {
		isLoading: boolean
	}

	function nprogressAction(node: Element, params: ActionParams) {
		function update(params: ActionParams) {
			const { isLoading } = params
			if (isLoading) {
				NProgress.start()
			} else {
				NProgress.done()
			}
		}

		update(params)

		return {
			destroy() {
				NProgress.remove()
			},
			update(params: ActionParams) {
				update(params)
			},
		}
	}
</script>

<div use:nprogressAction={{ isLoading }} />
