<script lang="ts">
	import Menu from "heroicons/outline/menu.svg"

	export let drawerId = "my-drawer"
</script>

<div class="shadow bg-base-200 drawer h-full">
	<input id={drawerId} type="checkbox" class="drawer-toggle" />
	<div class="drawer-content relative">
		<slot name="map" />
		<div class="absolute left-1 top-1">
			<label for={drawerId} class="btn btn-square btn-ghost bg-base-300 bg-opacity-80">
				<div class="w-6">
					<Menu />
				</div>
			</label>
		</div>
	</div>
	<div class="drawer-side">
		<label for={drawerId} class="drawer-overlay" />
		<div class="overflow-y-auto w-11/12">
			<slot name="sidebar" />
		</div>
	</div>
</div>
