<script lang="ts">
	import Split from "split.js"
	import { tick } from "svelte"

	// Defer slots after split initialization to let them use the full available width.
	export let deferLeft = false
	export let deferRight = false

	export let sizes: [number, number] | null = null

	let isInitialized = false

	let left: HTMLElement
	let right: HTMLElement

	function toPair<T>(items: T[]): [T, T] {
		return [items[0], items[1]]
	}

	async function split(node: Element) {
		await tick()

		const split = Split([left, right], {
			onDrag: (newSizes: number[]) => {
				sizes = [newSizes[0], newSizes[1]]
				node.dispatchEvent(new CustomEvent("drag", { detail: sizes }))
			},
			onDragEnd: (newSizes: number[]) => {
				sizes = [newSizes[0], newSizes[1]]
				node.dispatchEvent(new CustomEvent("drag-end", { detail: sizes }))
			},
			onDragStart: (newSizes: number[]) => {
				sizes = [newSizes[0], newSizes[1]]
				node.dispatchEvent(new CustomEvent("drag-start", { detail: sizes }))
			},
			sizes: sizes ?? undefined,
		})

		sizes = toPair(split.getSizes())

		isInitialized = true

		return {
			destroy() {
				split.destroy()
			},
		}
	}
</script>

<div class="flex h-full" on:drag on:drag-end on:drag-start use:split>
	<div class="overflow-y-auto min-w-min" bind:this={left}>
		{#if !deferLeft || isInitialized}
			<slot name="left" />
		{/if}
	</div>
	<div class="flex-grow" bind:this={right}>
		{#if !deferRight || isInitialized}
			<slot name="right" />
		{/if}
	</div>
</div>

<style>
	:global(.gutter) {
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	:global(.gutter.gutter-horizontal) {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
		cursor: col-resize;
	}
</style>
